.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  &__table {
    @include row-distribution(45%, 20%, 20%, 15%);
  }
}

.row__table + .row__table {
  margin-bottom: 32px;
}

[class*='col-'] {
  display: flex;
  align-items: center;
}

[class*='col-']:nth-child(n + 2) {
  justify-content: center;
}
