.product-info {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;

  &__image {
    border-radius: 4px;
    border: 1px solid #cacad1;
    height: 72px;
    margin-right: 16px;
    width: 72px;
  }
}
