.quantity-counter {
  align-items: center;
  display: flex;

  &__button {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 40px;
    padding: 0 8px;
  }

  &__input {
    border-radius: 4px;
    border: 2px solid #dbdbe0;
    height: 40px;
    width: 40px;
  }
}
