<figure class="product-info">
  <img class="product-info__image" src="assets/img/{{ productInfo.imgFileName }}" alt="{{ productInfo.name }}" />
  <figcaption>
    <h3 class="product-title">{{ productInfo.name }}</h3>
    <span class="product-code">Product code {{ productInfo.code }}</span>
  </figcaption>
</figure>
