@mixin row-distribution($col-1, $col-2, $col-3, $col-4) {
  & .col-product {
    flex-basis: #{$col-1};
  }

  & .col-quantity {
    flex-basis: #{$col-2};
  }

  & .col-price {
    flex-basis: #{$col-3};
  }

  & .col-total {
    flex-basis: #{$col-4};
  }
}
