<div class="quantity-counter">
  <button class="quantity-counter__button" (click)="handleQuantity(changeAction.DECREASE)">-</button>
  <input class="quantity-counter__input" type="number" [(ngModel)]="quantity" (ngModelChange)="handleQuantity(changeAction.CUSTOM)" />
  <button class="quantity-counter__button" (click)="handleQuantity(changeAction.INCREASE)">+</button>
</div>
