.cart-overview {
  background-color: $caby-base-color-white;
  border-radius: 4px;
  display: flex;
  height: calc(100% - 64px);
  left: 50%;
  max-height: 648px;
  max-width: 1088px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 64px);

  &__products {
    flex: 1;
    padding: 40px 32px 40px 56px;
  }

  &__summary {
    background-color: $caby-base-color-gray;
    display: flex;
    flex-flow: column wrap;
    padding: 40px 32px;
    width: 312px;
  }
}

.summary {
  &__items-section {
    padding: 32px 0;
  }

  &__discounts-section {
    padding: 24px 0;
  }

  &__discounts {
    margin-top: 16px;
  }

  &__total-section {
    border-top: 1px solid rgba(33, 34, 64, 0.16);
    margin-top: auto;
    padding-bottom: 0;
    padding-top: 16px;
  }
}
