.confirm-button {
  border-radius: 4px;
  cursor: pointer;
  margin-top: 24px;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;

  &--primary {
    background: $caby-base-color-purple;
  }
}
