body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../../assets/img/background.png');
  background-color: #212240;
  background-position: top left;
  background-size: cover;
  font-family: Avenir, 'Avenir Next', 'Segoe UI', sans-serif;
  font-weight: regular;
}

h1 {
  position: relative;
  letter-spacing: -0.18px;
  font-size: 18px;
  line-height: 24px;
}

.title {
  padding-bottom: 16px;
}
