.cart-overview {
  &__summary {
    color: $caby-base-color-black;
  }
}

.secondary-title {
  color: rgb(113, 114, 133);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 16px;
  text-transform: uppercase;
}

.products-table {
  &__header {
    color: rgb(166, 167, 179);
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
  }
}

.product-title {
  color: $caby-base-color-purple;
  font-size: 16px;
  line-height: 24px;
}

.product-code {
  border-radius: 4px;
  color: rgb(166, 167, 179);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.13px;
  line-height: 16px;
}

.summary-price {
  font-size: 16px;
  font-weight: bold;
}

.summary-text {
  color: $caby-base-color-black;
  font-size: 14px;
  line-height: 17px;

  &__total {
    font-size: 20px;
    line-height: 25px;
  }

  &--bold {
    font-weight: bold;
  }
}

.confirm-button {
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;

  &--primary {
    color: $caby-base-color-white;
  }
}

.quantity-counter {
  &__button {
    color: $caby-base-color-purple;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
  }

  &__input {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
